
<h2>{{card.name}}</h2>
<p><img src="{{card.url}}" class=imgmain></p>
<h5>{{card.type}}</h5>
<p>Cost: {{card.cost}}<br>
Mana type: {{card.mana_id}}
</p>
<p><a href="/">Back</a></p>
    <button type="button"><a href="/deleteCard/{{card.id}}">Delete Card</a></button>
